.container{
    padding: 2px;

}
.activite-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 12px;
}

.activite{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    margin: 12px;
    

}